In [8]:
import pandas as pd



df= pd.read_csv('energy_generation.tsv', sep='\t')
df = df.set_index(df.columns[0])



display(df)

,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,...,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12,2024-01,2024-02
"freq,siec,unit,geo\TIME_PERIOD",,,,,,,,,,,,,,,,,,,,,
"M,C0000,GWH,AL",:,:,:,:,:,:,:,:,:,:,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,:
"M,C0000,GWH,AT",:,:,:,:,:,:,:,:,:,:,...,166.089,155.749,169.903,108.038,118.566,147.864,146.045,158.347,162.180,147.654
"M,C0000,GWH,BA",:,:,:,:,:,:,:,:,:,:,...,570.075,609.009,708.150,842.148,756.990,796.937,692.416,685.594,836.717,:
"M,C0000,GWH,BE",:,:,:,:,:,:,:,:,:,:,...,159.743,164.543,171.772,171.492,98.779,3.602,1.176,1.002,152.345,:
"M,C0000,GWH,BG",:,:,:,:,:,:,:,:,:,:,...,554.331,339.031,577.725,562.135,654.196,781.035,871.225,1043.759,905.171,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"M,X9900,GWH,SK",:,:,:,:,:,:,:,:,:,:,...,4.000,3.000,2.000,2.000,2.000,1.000,1.000,1.000,5.000,:
"M,X9900,GWH,TR",:,:,:,:,:,:,:,:,:,:,...,73.451,75.789,70.678,104.647,89.230,85.657,79.285,76.049,77.926,:
"M,X9900,GWH,UA",:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
"M,X9900,GWH,UK",:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
"M,X9900,GWH,XK",:,:,:,:,:,:,:,:,:,:,...,0.000,0.000,0.000,0.000,0.000,0.000,:,:,:,:

In [9]:
df = df.transpose()
df.index.name = 'date'







display(df)

"freq,siec,unit,geo\TIME_PERIOD","M,C0000,GWH,AL","M,C0000,GWH,AT","M,C0000,GWH,BA","M,C0000,GWH,BE","M,C0000,GWH,BG","M,C0000,GWH,CY","M,C0000,GWH,CZ","M,C0000,GWH,DE","M,C0000,GWH,DK","M,C0000,GWH,EE",...,"M,X9900,GWH,PT","M,X9900,GWH,RO","M,X9900,GWH,RS","M,X9900,GWH,SE","M,X9900,GWH,SI","M,X9900,GWH,SK","M,X9900,GWH,TR","M,X9900,GWH,UA","M,X9900,GWH,UK","M,X9900,GWH,XK"
date,,,,,,,,,,,,,,,,,,,,,
2016-01,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2016-02,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2016-03,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2016-04,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2016-05,:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10,0.000,147.864,796.937,3.602,781.035,0.000,2610.974,9674.588 e,44.275,0.000,...,0.000,0.000,0.000,0.000,0.000,1.000,85.657,:,:,0.000
2023-11,0.000,146.045,692.416,1.176,871.225,0.000,2753.006,10947.152 e,226.176,0.000,...,0.000,0.000,0.000,0.000,0.000,1.000,79.285,:,:,:
2023-12,0.000,158.347,685.594,1.002,1043.759,0.000,2762.875,10597.592 e,257.861,0.000,...,0.000,0.000,0.000,0.000,0.000,1.000,76.049,:,:,:
2024-01,0.000,162.180,836.717,152.345,905.171,0.000,2590.198,10536.739 e,309.229,0.000,...,0.000,0.000,0.000,0.000,:,5.000,77.926,:,:,:
2024-02,:,147.654,:,:,:,:,:,:,179.122,:,...,:,:,:,:,:,:,:,:,:,:

In [10]:
# Extracting and assigning the last two letters from column names
new_columns = [col.split(',')[-1][-2:] for col in df.columns]
df.columns = new_columns

df = df.replace(':', '0', regex=True)


display(df)

,AL,AT,BA,BE,BG,CY,CZ,DE,DK,EE,...,PT,RO,RS,SE,SI,SK,TR,UA,UK,XK
date,,,,,,,,,,,,,,,,,,,,,
2016-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2016-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10,0.000,147.864,796.937,3.602,781.035,0.000,2610.974,9674.588 e,44.275,0.000,...,0.000,0.000,0.000,0.000,0.000,1.000,85.657,0,0,0.000
2023-11,0.000,146.045,692.416,1.176,871.225,0.000,2753.006,10947.152 e,226.176,0.000,...,0.000,0.000,0.000,0.000,0.000,1.000,79.285,0,0,0
2023-12,0.000,158.347,685.594,1.002,1043.759,0.000,2762.875,10597.592 e,257.861,0.000,...,0.000,0.000,0.000,0.000,0.000,1.000,76.049,0,0,0
2024-01,0.000,162.180,836.717,152.345,905.171,0.000,2590.198,10536.739 e,309.229,0.000,...,0.000,0.000,0.000,0.000,0,5.000,77.926,0,0,0
2024-02,0,147.654,0,0,0,0,0,0,179.122,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:




# Mapping dictionary for European countries and adjacent countries
country_mapping = {
    'AL': 'Albania',
    'AT': 'Austria',
    'BA': 'Bosnia and Herzegovina',
    'BE': 'Belgium',
    'BG': 'Bulgaria',
    'CH': 'Switzerland',
    'CY': 'Cyprus',
    'CZ': 'Czech Republic',
    'DE': 'Germany',
    'DK': 'Denmark',
    'EE': 'Estonia',
    'EL': 'Greece',
    'ES': 'Spain',
    'FI': 'Finland',
    'FR': 'France',
    'HR': 'Croatia',
    'HU': 'Hungary',
    'IE': 'Ireland',
    'IS': 'Iceland',
    'IT': 'Italy',
    'LI': 'Liechtenstein',
    'LT': 'Lithuania',
    'LU': 'Luxembourg',
    'LV': 'Latvia',
    'ME': 'Montenegro',
    'MK': 'North Macedonia',
    'MT': 'Malta',
    'NL': 'Netherlands',
    'NO': 'Norway',
    'PL': 'Poland',
    'PT': 'Portugal',
    'RO': 'Romania',
    'RU': 'Russia',
    'RS': 'Serbia',
    'SE': 'Sweden',
    'SI': 'Slovenia',
    'SK': 'Slovakia',
    'TR': 'Turkey',
    'UK': 'United Kingdom',
    'XK': 'Kosovo',
    'UA': 'Ukraine',
    'GE': 'Georgia',
    'MD': 'Moldova'
}



for col in df.columns:
    country_code = col
    country_name = country_mapping.get(country_code)
    if country_name:
        df.rename(columns={col: country_name}, inplace=True)


df = df.apply(pd.to_numeric, errors='coerce')
df = df.loc[:,~df.columns.str.endswith('20')]
df = df.groupby(level=0, axis=1).sum()

# Display the DataFrame with updated indexes
display(df)

C:\Users\anton\AppData\Local\Temp\ipykernel_5052\3698416688.py:59: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(level=0, axis=1).sum()

,Albania,Austria,Belgium,Bosnia and Herzegovina,Bulgaria,Croatia,Cyprus,Czech Republic,Denmark,Estonia,...,Portugal,Romania,Serbia,Slovakia,Slovenia,Spain,Sweden,Turkey,Ukraine,United Kingdom
date,,,,,,,,,,,,,,,,,,,,,
2016-01,0.000,9305.000,15744.000,0.000,8508.000,2160.000,755.000,14501.000,6843.000,2178.0,...,11200.000,11236.0,7268.000,4324.0,2453.000,44914.000,32872.000,44160.000,0.0,61620.0
2016-02,0.000,10357.000,13934.000,0.000,6732.000,2460.000,631.000,13437.000,5511.000,1484.0,...,10976.000,9562.0,7123.000,4440.0,2448.000,42810.000,30236.000,39338.000,0.0,50410.0
2016-03,0.000,9442.000,14554.000,0.000,6528.000,2646.000,611.000,14827.000,5028.000,1344.0,...,9921.000,9903.0,7421.000,4440.0,2678.000,45123.000,29590.000,41610.000,0.0,58081.0
2016-04,0.000,9811.000,12790.000,0.000,5340.000,1892.000,581.000,12958.000,4692.000,1482.0,...,9882.000,9911.0,6028.000,3570.0,2468.000,42346.000,26380.000,40172.000,0.0,52972.0
2016-05,0.000,10584.000,11249.000,0.000,5644.000,1788.000,647.000,12575.000,3420.000,1224.0,...,9477.000,8418.0,5862.000,3178.0,2621.000,39956.000,22985.000,41184.000,0.0,48307.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10,1213.169,13686.826,14928.091,3366.621,6658.217,3642.054,1061.865,16402.149,8175.855,1040.7,...,12508.054,10745.0,6330.694,5388.0,2546.490,53417.478,38916.792,70732.569,0.0,0.0
2023-11,2426.300,18413.859,16361.179,4011.174,7376.404,4789.272,978.354,16722.995,8239.635,1252.5,...,14892.321,11933.0,8126.383,6090.0,3016.848,0.000,42536.110,67768.965,0.0,0.0
2023-12,3184.642,19130.903,17056.290,4274.004,8811.175,4614.243,1034.989,17297.240,10611.741,1462.2,...,13740.038,13542.0,9235.832,6450.0,3471.817,0.000,43615.677,76730.958,0.0,0.0
2024-01,3149.550,21163.371,18182.322,4433.187,8702.910,4556.292,1233.978,18032.485,11728.208,1716.9,...,15815.173,14046.0,9335.285,6843.0,0.000,94.243,47252.733,80434.082,0.0,0.0
2024-02,0.000,17196.947,0.000,0.000,0.000,0.000,0.000,0.000,10342.391,0.0,...,0.000,0.0,0.000,0.0,0.000,0.000,0.000,0.000,0.0,0.0

In [12]:
print(df.columns.tolist())

['Albania', 'Austria', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Kosovo', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Turkey', 'Ukraine', 'United Kingdom']