In [195]:
df= pd.read_csv('estat_nrg_stk_gasm.tsv', sep='\t')
df = df.set_index(df.columns[0])



display(df)

,2008-01,2008-02,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,...,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12,2024-01,2024-02
"freq,stk_flow,siec,unit,geo\TIME_PERIOD",,,,,,,,,,,,,,,,,,,,,
"M,STKCL_ABR,G3000,MIO_M3,AL",:,:,:,:,:,:,:,:,:,:,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,:
"M,STKCL_ABR,G3000,MIO_M3,AT",:,:,:,:,:,:,:,:,:,:,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"M,STKCL_ABR,G3000,MIO_M3,BE",:,:,:,:,:,:,:,:,:,:,...,0.000,: z,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"M,STKCL_ABR,G3000,MIO_M3,BG",:,:,:,:,:,:,:,:,:,:,...,:,:,0.000 n,0.000 n,0.000 n,0.000,0.000,0.000,0.000,0.000
"M,STKCL_ABR,G3000,MIO_M3,CY",:,:,:,:,:,:,:,:,:,:,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"M,STKOP_NAT,G3000,TJ_GCV,SK",58738.000,52195.000,49555.000,47710.000,49384.000,59565.000,62895.000,65309.000,67384.000,67893.000,...,120705.459,133267.707,148558.330,161773.636,172157.306,173398.381,175462.075,166114.148,151184.832,140698.664
"M,STKOP_NAT,G3000,TJ_GCV,TR",11782.000,14412.000,15788.000,13278.000,16044.000,16499.000,16029.000,17420.000,16478.000,16236.000,...,166104.840,179011.450,188005.220,193175.500,201414.690,208871.712,206295.385,204424.962,208465.690,199957.835
"M,STKOP_NAT,G3000,TJ_GCV,UA",:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
"M,STKOP_NAT,G3000,TJ_GCV,UK",193782.000,166681.000,127935.000,129897.000,200871.000,201994.000,202682.000,203103.000,203441.000,229473.000,...,:,:,:,:,:,:,:,:,:,:
"M,STKOP_NAT,G3000,TJ_GCV,XK",:,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:

In [196]:
df = df.transpose()
df.index.name = 'date'







display(df)

"freq,stk_flow,siec,unit,geo\TIME_PERIOD","M,STKCL_ABR,G3000,MIO_M3,AL","M,STKCL_ABR,G3000,MIO_M3,AT","M,STKCL_ABR,G3000,MIO_M3,BE","M,STKCL_ABR,G3000,MIO_M3,BG","M,STKCL_ABR,G3000,MIO_M3,CY","M,STKCL_ABR,G3000,MIO_M3,CZ","M,STKCL_ABR,G3000,MIO_M3,DE","M,STKCL_ABR,G3000,MIO_M3,DK","M,STKCL_ABR,G3000,MIO_M3,EE","M,STKCL_ABR,G3000,MIO_M3,EL",...,"M,STKOP_NAT,G3000,TJ_GCV,PT","M,STKOP_NAT,G3000,TJ_GCV,RO","M,STKOP_NAT,G3000,TJ_GCV,RS","M,STKOP_NAT,G3000,TJ_GCV,SE","M,STKOP_NAT,G3000,TJ_GCV,SI","M,STKOP_NAT,G3000,TJ_GCV,SK","M,STKOP_NAT,G3000,TJ_GCV,TR","M,STKOP_NAT,G3000,TJ_GCV,UA","M,STKOP_NAT,G3000,TJ_GCV,UK","M,STKOP_NAT,G3000,TJ_GCV,XK"
date,,,,,,,,,,,,,,,,,,,,,
2008-01,:,:,:,:,:,:,:,:,:,:,...,6334.000,11646.000,:,0.000,0.000,58738.000,11782.000,:,193782.000,:
2008-02,:,:,:,:,:,:,:,:,:,:,...,6507.000,4634.000,:,0.000,0.000,52195.000,14412.000,:,166681.000,:
2008-03,:,:,:,:,:,:,:,:,:,:,...,6534.000,5413.000,:,0.000,0.000,49555.000,15788.000,:,127935.000,:
2008-04,:,:,:,:,:,:,:,:,:,:,...,6673.000,6760.000,:,0.000,0.000,47710.000,13278.000,:,129897.000,:
2008-05,:,:,:,:,:,:,:,:,:,:,...,7675.000,9040.000,:,0.000,0.000,49384.000,16044.000,:,200871.000,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,15360.930,118773.000,29337.000,676.462,:,173398.381,208871.712,:,:,:
2023-11,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,21824.438,125193.000,29115.000,872.925,:,175462.075,206295.385,:,:,:
2023-12,0.000,0.000,0.000,0.000,0.000,0.000,:,0.000,0.000,0.000,...,18247.146,118221.000,29189.000,1051.694,:,166114.148,204424.962,:,:,:
2024-01,0.000,0.000,0.000,0.000,0.000,0.000,:,0.000,0.000,0.000,...,19600.746,101350.000 p,26818.000,1529.200,:,151184.832,208465.690,:,:,:
2024-02,:,0.000,0.000,0.000,0.000,:,:,0.000,0.000,0.000,...,17069.578 p,77624.000 p,:,1319.786,:,140698.664,199957.835,:,:,:

In [197]:
# Extracting and assigning the last two letters from column names
new_columns = [col.split(',')[-1][-2:] for col in df.columns]
df.columns = new_columns

df = df.replace(':', '0', regex=True)


display(df)

,AL,AT,BE,BG,CY,CZ,DE,DK,EE,EL,...,PT,RO,RS,SE,SI,SK,TR,UA,UK,XK
date,,,,,,,,,,,,,,,,,,,,,
2008-01,0,0,0,0,0,0,0,0,0,0,...,6334.000,11646.000,0,0.000,0.000,58738.000,11782.000,0,193782.000,0
2008-02,0,0,0,0,0,0,0,0,0,0,...,6507.000,4634.000,0,0.000,0.000,52195.000,14412.000,0,166681.000,0
2008-03,0,0,0,0,0,0,0,0,0,0,...,6534.000,5413.000,0,0.000,0.000,49555.000,15788.000,0,127935.000,0
2008-04,0,0,0,0,0,0,0,0,0,0,...,6673.000,6760.000,0,0.000,0.000,47710.000,13278.000,0,129897.000,0
2008-05,0,0,0,0,0,0,0,0,0,0,...,7675.000,9040.000,0,0.000,0.000,49384.000,16044.000,0,200871.000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,15360.930,118773.000,29337.000,676.462,0,173398.381,208871.712,0,0,0
2023-11,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,21824.438,125193.000,29115.000,872.925,0,175462.075,206295.385,0,0,0
2023-12,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,0.000,0.000,...,18247.146,118221.000,29189.000,1051.694,0,166114.148,204424.962,0,0,0
2024-01,0.000,0.000,0.000,0.000,0.000,0.000,0,0.000,0.000,0.000,...,19600.746,101350.000 p,26818.000,1529.200,0,151184.832,208465.690,0,0,0
2024-02,0,0.000,0.000,0.000,0.000,0,0,0.000,0.000,0.000,...,17069.578 p,77624.000 p,0,1319.786,0,140698.664,199957.835,0,0,0

In [198]:





# Mapping dictionary for European countries and adjacent countries
country_mapping = {
    'AL': 'Albania',
    'AT': 'Austria',
    'BE': 'Belgium',
    'BG': 'Bulgaria',
    'CH': 'Switzerland',
    'CY': 'Cyprus',
    'CZ': 'Czech Republic',
    'DE': 'Germany',
    'DK': 'Denmark',
    'EE': 'Estonia',
    'EL': 'Greece',
    'ES': 'Spain',
    'FI': 'Finland',
    'FR': 'France',
    'HR': 'Croatia',
    'HU': 'Hungary',
    'IE': 'Ireland',
    'IS': 'Iceland',
    'IT': 'Italy',
    'LI': 'Liechtenstein',
    'LT': 'Lithuania',
    'LU': 'Luxembourg',
    'LV': 'Latvia',
    'ME': 'Montenegro',
    'MK': 'North Macedonia',
    'MT': 'Malta',
    'NL': 'Netherlands',
    'NO': 'Norway',
    'PL': 'Poland',
    'PT': 'Portugal',
    'RO': 'Romania',
    'RU': 'Russia',
    'RS': 'Serbia',
    'SE': 'Sweden',
    'SI': 'Slovenia',
    'SK': 'Slovakia',
    'TR': 'Turkey',
    'UK': 'United Kingdom',
    'XK': 'Kosovo',
    'UA': 'Ukraine',
    'GE': 'Georgia',
    'MD': 'Moldova'
}



for col in df.columns:
    country_code = col
    country_name = country_mapping.get(country_code)
    if country_name:
        df.rename(columns={col: country_name}, inplace=True)


df = df.apply(pd.to_numeric, errors='coerce')
df = df.loc[:,~df.columns.str.endswith('20')]
df = df.groupby(level=0, axis=1).sum()

# Display the DataFrame with updated indexes
display(df)

C:\Users\anton\AppData\Local\Temp\ipykernel_26012\2919562588.py:58: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df = df.groupby(level=0, axis=1).sum()

,Albania,Austria,Belgium,Bulgaria,Croatia,Cyprus,Czech Republic,Denmark,Estonia,Finland,...,Portugal,Romania,Serbia,Slovakia,Slovenia,Spain,Sweden,Turkey,Ukraine,United Kingdom
date,,,,,,,,,,,,,,,,,,,,,
2008-01,0.0,207014.000,66795.0,36195.000,17918.000,0.0,145371.000,172532.000,0.0,0.0,...,12841.000,16280.0,0.0,110933.000,0.0,152477.000,0.000,26194.000,0.0,360463.0
2008-02,0.0,166287.000,50702.0,30349.000,14784.000,0.0,117643.000,158856.000,0.0,0.0,...,13041.000,10047.0,0.0,101750.000,0.0,131414.000,0.000,30200.000,0.0,294616.0
2008-03,0.0,130566.000,37783.0,25588.000,12037.000,0.0,97263.000,145881.000,0.0,0.0,...,13207.000,12173.0,0.0,97265.000,0.0,119839.000,0.000,29065.000,0.0,241801.0
2008-04,0.0,117652.000,33973.0,23931.000,10492.000,0.0,91942.000,139244.000,0.0,0.0,...,14348.000,15800.0,0.0,97094.000,0.0,122089.000,0.000,29322.000,0.0,261176.0
2008-05,0.0,143717.000,43475.0,27119.000,12695.000,0.0,112880.000,145750.000,0.0,0.0,...,15203.000,25232.0,0.0,108949.000,0.0,132045.000,0.000,32543.000,0.0,402865.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10,0.0,1121238.391,134228.8,101001.079,40396.589,0.0,272640.640,0.000,0.0,0.0,...,61171.447,250317.0,60030.0,402307.692,0.0,0.000,1584.041,426005.837,0.0,0.0
2023-11,0.0,1129615.231,133530.8,99737.624,36413.917,0.0,269659.457,0.000,0.0,0.0,...,64129.775,249750.0,59878.0,394893.073,0.0,0.000,1967.666,421442.996,0.0,0.0
2023-12,0.0,1106538.654,128716.3,96372.790,31310.256,0.0,254074.384,68733.252,0.0,0.0,...,41760.052,225286.0,57519.0,369572.557,0.0,0.000,2638.620,423669.961,0.0,0.0
2024-01,0.0,1051647.029,116247.8,91440.133,25917.648,0.0,221902.339,175655.948,0.0,10045.0,...,43147.472,0.0,52079.0,344725.663,0.0,544666.588,2912.708,419086.211,0.0,0.0
2024-02,0.0,998585.855,104569.9,58817.010,11409.476,0.0,98983.906,167101.863,0.0,10174.0,...,23057.000,0.0,0.0,332347.234,0.0,0.000,2934.852,415989.173,0.0,0.0